{% extends "base.html" %}
{% block content %}

<center><h2>Overview of all spare parts</h2><br></center>

    <table class="table">
      <thead>
        <tr>
            <th scope="col">BRT_id</th>
            <th scope="col">Suppliers_id</th>
            <th scope="col">Main_ctg</th>
            <th scope="col">Sub_ctg</th>
            <th scope="col">name_CZ</th>
            <th scope="col">Store_name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price_CZ</th>
            <th scope="col">Price_EUR</th>
        </tr>
      </thead>
        <tbody>

        {%for spare_part in object_list %}
                <tr>
                    {%if spare_part.quantity == 0 %}
                        <th scope="row"><span style="color:red">{{spare_part.order_code_brt}}</span></th>
                    {%else%}
                        <th scope="row">{{spare_part.order_code_brt}}</th>
                    {%endif%}
                    <td>{{spare_part.order_code_suppliers}}</td>
                    <td>{{spare_part.main_category}}</td>
                    <td>{{spare_part.sub_category}}</td>
                    <td>{{spare_part.name_CZ}}</td>
                    <td>{{spare_part.store_name}}</td>
                    {%if spare_part.quantity == 0 %}
                        <td><span style="color:red">{{spare_part.quantity}}</span></td>
                    {%else%}
                        <td>{{spare_part.quantity}}</td>
                    {%endif%}


                    <td>{{spare_part.price_CZ}}</td>
                    <td>{{spare_part.price_EUR}}</td>
                </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}



